<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">

      <div *ngIf="navigating" style="font-size:20px; color:chartreuse; background-color: deeppink">
        
        <marquee direction="down">
          ... Bitte warten ...
        </marquee>

      </div>

      <router-outlet></router-outlet>

      <router-outlet name="aux"></router-outlet>

    </div>


  </div>
</div>

